body{
  background-color: #1b262c;
  font-family: 'Century Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  color:#dad6d6;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(43, 42, 42, 0.692); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(40, 59, 68); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 48, 56, 0.699)
}

[id^="IN"] {
  stroke: rgb(46, 103, 110);
  fill:#1b262c;
}

[id^="IN"]:hover {
  fill: #3282b8;
}

.top-text{
  color:#ff944d;
}
.mid-text{
  color:#dad6d6
}
.bottom-text{
  color:#5FC978;
}

.svg-container{
  width:40vw;
  height:auto;
}

#svg2{
  width: 100%;
  height: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .large-screen-text{
    text-align: right;
  }
  .nav-link:hover{
    border-bottom: 2px solid #3282b8;
  }
  .languages{
    background-image: url(shared/languages.svg);
    background-repeat: no-repeat;
    background-position: 95%;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: x-large;
  }
}

.modal{
  background-color: #00000070;
}
.modal-content{
  background-color: #1b262c6b;
  backdrop-filter: blur(5px);
  color:#dad6d6;
}

.login-image{
  width:100%;
  height: auto;
  border-radius: 25px;
}

.g-button{
  background-color: azure;
  color:#1b262c;
  width:100%;
}
.fb-button{
  background-color: #3b5998;
  width:100%
}

hr{
  background-color: darkgrey;
}

.login-button{
  color:azure;
  width: fit-content;
}

.complaint-card{
  background-color: inherit;
  box-shadow: 0 0px 10px #0f0f0fa9;
}

.label-keyword{
  background-color: #144253cb;
  border-radius: 10px;
  display: inline-block;
  align-items: justify;
}

.status-header{
text-align: center;
}
.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.popover-header{
  background-color: #183749ec;
  border: 0px solid black;
}
.popover-body{
  background-color: #050404de;
  color:#dad6d6;
}

.popover{
  border: 0px solid black;
  background-color: rgba(0,0,0,0);
}

.arrow{
  background-color: #050404de;
}




textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
