body{
  background-color: #1b262c;
  font-family: 'Century Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  color:#dad6d6;
}

::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(43, 42, 42, 0.692); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(40, 59, 68); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 48, 56, 0.699)
}

[id^="IN"] {
  stroke: rgb(46, 103, 110);
  fill:#1b262c;
}

[id^="IN"]:hover {
  fill: #3282b8;
}

.top-text{
  color:#ff944d;
}
.mid-text{
  color:#dad6d6
}
.bottom-text{
  color:#5FC978;
}

.svg-container{
  width:40vw;
  height:auto;
}

#svg2{
  width: 100%;
  height: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .large-screen-text{
    text-align: right;
  }
  .nav-link:hover{
    border-bottom: 2px solid #3282b8;
  }
  .languages{
    background-image: url(shared/languages.svg);
    background-repeat: no-repeat;
    background-position: 95%;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: x-large;
  }
}

.modal{
  background-color: #00000070;
}
.modal-content{
  background-color: #1f2338;
  backdrop-filter: blur(5px);
  color:#dad6d6;
}

.login-image{
  width:100%;
  height: auto;
  border-radius: 25px;
}

.g-button{
  background-color: azure;
  color:#1b262c;
  width:100%;
}
.fb-button{
  background-color: #3b5998;
  width:100%
}

hr{
  background-color: darkgrey;
}

.login-button{
  color:azure;
  width: fit-content;
}

.complaint-card{
  background-color: inherit;
  box-shadow: 0 0px 10px #0f0f0fa9;
}

.label-keyword{
  background-color: #144253cb;
  border-radius: 10px;
  display: inline-block;
  align-items: justify;
}

.status-header{
text-align: center;
}
.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.popover-header{
  background-color: #183749ec;
  border: 0px solid black;
}
.popover-body{
  background-color: #050404de;
  color:#dad6d6;
}

.popover{
  border: 0px solid black;
  background-color: rgba(0,0,0,0);
}

.arrow{
  background-color: #050404de;
}




textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.upvote-button{
  fill:#5FC978;
}

#upvote:hover{
  fill-rule: evenodd;
  fill: #5fc978a6;
}

#upvote_number{
  color:white;
}

#min_description{
  color:white;
} 

#card_title{
  color:white;  
  text-emphasis-color: white;
} 

#card{
  flex:1;
  background-color: #343a40;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 

 .card-body{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 

#card_div{
  padding:20px 20px 10px 20px;
} 

#new_complaint_button{
  width: 40%;
  height: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 

#new_complaint_description{
  height:100%;
}  

textarea#description{
  height:100px;
  border-radius: 3px;
} 



#complaint_list_page{
  overflow: hidden;
}


#modal_state_name{
  font-size:120%;
}

#modal_state_name_dropdown{
  color:#4c4c4c;
  width:100%;
  
} 

#modal_district_name{
  font-Size:120%; color:#DADAD6
} 

#modal_district_name_dropdown{
  color:#4c4c4c; 
  width:100%;
}


.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  color:rgb(124, 124, 124);
}


.form-control:valid + .form-control-placeholder {
  font-size: 120%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
} 

.form-control:focus + .form-control-placeholder{
  color:#DADAD6;
  font-size: 120%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

#trendingtopics{
  font-Size:"250%";

}

.text-center col-md-6{
  text-align:"center";
  margin-left:"auto";
  margin-Right:"auto";

}


#wordcloudcard{
  width:75%;
  margin-left:10%;
  margin-Bottom:2%;
  margin-Top:2%;
  margin-Right: 0px;
  background-Color:dark;
}


#wordcloudcardtitle{
  font-size:"150%";
}

#state_name_dropdown_col{
  width:500px;
}

#state_name_dropdown{
  color:#4c4c4c; 
}


#modal_dept_name_dropdown{
  color:#4c4c4c; 
}